body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #444;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
    margin-bottom: 2rem;
}

.a3 {
    color: #b30000;
}

.a4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.a4 ul {
    list-style-type: none;
    padding: 0;
    flex-basis: 45%;
}

.a4 li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.a5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.a5 .step {
    width: 45%;
    padding: 1rem;
    background-color: #f5f5dc;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a5 .step ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.a5 .step li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.a5 .step img {
    max-width: 100%;
    height: auto;
}

.a6 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.a6 li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.footer {
    background-color: #f5f5dc;
    padding: 1rem 0;
    text-align: center;
    margin-top: 2rem;
}

.footer a {
    color: #b30000;
    text-decoration: none;
    font-weight: bold;
}